@media only screen and (max-width: 768px) {

}

body, html {
    margin: 0;
    padding: 0;
}

.header1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 10px;
    margin-top: -20px;
    width: 100%;
}

.container1 {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    margin-top: -20px;
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.content {
    display: flex;
}

.sidebar {
    background-color: #6cb5ff;
    width: 200px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar-title {
    margin: 0;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
}

.sidebar-list li {
    margin-bottom: 10px;
}

.sidebar-list:last-child {
    margin-top: auto;
}

.sidebar-list li {
    margin-bottom: 10px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.rectangle1 {
    background-color: coral;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.rectangle2 {
    background-color: cadetblue;
    margin: 0;
    text-align: center;
    padding: 10px;
    width: 100%;

}

.rectangle-title1 {
    margin-top: 0;
    text-align: left;
    font-weight: bold;
}
.rectangle-title2 {
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}


.image-links {
    display: flex;
    justify-content: center;
}


.image-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}

.image-links p {
    margin-top: 5px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

}
.palabra{
    text-decoration: underline;
}

.left-align {
    display: flex;
    text-align: left;
    width: 100%;
}

.center-align {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.right-align{
    float: right;
    margin-left: auto;
}

.image-links2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: -10px;
    margin-top: -57px;
    margin-right: -10px;
}

.image-links2 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}

.botonn {
    display: flex;
    justify-content: center;
}

.image-links3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-links3 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: -10px;
}